
/*------------------header------y--fondo-*/
body p{
   font-family: 'Merriweather Sans', sans-serif;
    font-size:17px;
}
*{
    outline: 1px solid red;
}
li{
  font-family: 'Merriweather Sans', sans-serif;
    font-size:17px;  
}

header{
    background-image: url(../image/large.jpg);
    background-size: cover;
}
.fondo{
    background:rgba(31, 28, 28, 0.71); 
    color: white;
    
}
.frases h1{
    text-align: center;
    margin:120px 0px;
}
nav li a{
	display: block;
	padding: 15px 15px;
	transition: all 0.2s;
	border-radius: 6px;
    font-size:18px;
    color: white;
}
nav li a:hover, nav li a:focus, nav li a:active{
	text-decoration: none;
	outline: none;
	background: #FFF;
}
#main-navigation{
    z-index:503;
	right: 10px;
	margin: 10px 0 0 0;
}
#main-navigation ul{
	background: rgba(0,0,0,0.7);
	list-style: none;
	padding: 10px;
	border-radius: 5px;
}
.col-xs-6 img{
    position: relative;
    text-align: center;
}

/*-------------------------header baner-----*/
.header-baner{
    background-color:rgba(31, 82, 198, 0.77);
    color:white;
}
.header-baner button{
    margin-top: 15px;
    background: none;
    font-size: 20px;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 7px;
}
/*-------------------------------------------------------------nuestros----servisio*/
.icon-container{
    width: 150px;
    height: 150px;
    border-radius: 200px;
    margin: 0 auto;
    line-height: 150px;
    font-size: 60px;
    text-align: center;
    box-shadow: -2px 2px 10px rgba(0,0,0,0.2);
    color:skyblue;
}
.servises h3{
    color: #51A7E8;
    font-size: 35px;
    padding: 25px;
}
.servises h4{
    color: #36709C;
    font-size: 20px;
    padding: 15px;
}
.servises p{
    padding: 10px;
}

/*-----------------------------------separdor---*/
.imagen {
    border-top: 1px solid gray;
    text-align: center;
    margin: 50px;
}

.imagen img{
    position: absolute;
    z-index: 503;
    transform: translateY(-50%) translateX(-50%);
}
/*______________section de ejemplos y video_________________________*/
.embed-responsive-16by9{
    margin: 10px;
}
.testing{
    font-size:35px;
    position: relative;
    top:10px;
    margin: 0px;
    color: #0e83d8;
}
.titulo{
    font-size: 17px;
}
.flecha{
    margin-left: 160px; 
    padding: 25px;
}
.logo,.logo-1{
    width: 50%;
    
}
.ejemplo p {
    margin-top:20px;
}

/*--------------------------------------------------section de pasos------*/
.iconos{
    position: absolute;
    border-radius:40px;
	background: #299ff4;
	padding: 10px;
	font-size: 25px;
	color: #FFF;
	transform: translateY(-50%);
	margin-left: -70px;
}
.separador{
    position: absolute;
    z-index: 503;
    top:22em;
    transform: translateX(-50%);
    margin-left: -45px;
   top: 85%;
}

.pasos .row{
    background-image: url(../image/sec-2.jpg);
    background-size:contain;
    margin:30px 0px;
}
.que-ago{
    border-bottom: 1px solid #c4b7b7;
    border-top: 1px solid #c4b7b7;
    padding-right:29px;
    background-color: white;
}

.que-ago h3{
    font-size:30px;
}
.que-ago span {
    font-size:20px;
    color: #7cb6e8;
}


/*------------------porque--------usar--------------------------------------*/


.span{
    color: #51A7E8; 
}
.lista li{
    margin-bottom: 15px;
}
.baner{
    
    width: 100%;
}
/*--------------------------section--baner-----prueva-----gratuita------*/
.section-baner{
    background-color: #4E5D9A;
    color:white;
    font-size: 20px;
    padding: 20px;
}
.section-baner button{
    background: #4E5D9A;
    width: 220px;
    font-size: 23px;
    padding: 9px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 7px;
}
/*-----------------------------------------------footer----------------------------*/
footer {
  background:#393845;
    color: white;
    font-size: 15px;
    padding: 20px;
}
footer p, span{
    margin: 10px;
}
footer i {
    margin: 10px;
    font-size: 30px;
    border-radius: 200px;
}
 
}
footer span {
    color:#51A7E8; 
}
/*-------------------------------los @medias--------------------*/ 
@media screen and (max-width:999px)
{
.logo,.logo-1{
    width: 49%;
}
    .testing{
        font-size:35px;
    }
    .ejemplo ,.usar p{
        padding: 10px;
    }
}
@media screen and (max-width:999px)
{
    .pasos img{
       top:31em; 
	}
    .que-ago{
        border-radius: 12px;
        margin: 32px;
    }
    
}
@media screen and (max-width:999px)
{
    .btn btn-primary{
        font-size: 70px;
    }  
}



