
body{
    background-image: url(../image/large.jpg);
    background-position: center;
}
.container{
}
form h1{
    text-align: center;
}
form hr{
    color: gray;
}
form{
    border-top:6px solid blue;
    border-radius: 3px;
    position: absolute;
    top: 130px;
    padding: 5px 42px;
    width: 80%;
    height: auto;
    background-color:white;
}

.laboratoria span{
    float: right;
}
.laboratoria a, span{
    margin: 6px;
    color: black;
}
.laboratoria span{
    margin-top: -3px
}

